body {
    margin: 0;
    background-color: #f7f7f7;
}
/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Logo left, menu center/right, search far right */
  align-items: center;
  background-color: #ffffff; /* White background */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  position: fixed;
  width: 100%;
}

/* Logo */
.logo img {
  height: 30px; 
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px; /* spacing between menu items */
  padding: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: #333333; /* Dark gray text */
  font-weight: 500;
  padding: 5px 0;
}

/* Dropdown arrow */
.dropdown-arrow {
  font-size: 10px;
  margin-left: 5px;
}

/* Search Button */
.search-btn {
  background-color: #EED900; /* Yellow/Lime */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 margin-right: 20px;
}

.search-btn i {
  color: #000; /* Icon color */
}

.hero{
    height: 300px;
    background-image: url(image/0G2A8223-2048x1365.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;        
    gap: 10px;   
    
}
.hero h1{
    color:#f8f7f7;
    font-size: x-large;
    font-weight: bold;
    

}
.hero h3{
    color:#f8f7f7;
    font-size: medium;
    font-weight: bold;
    

}

.hero_button{
    display: flex;
    gap: 20px;
    border-radius: 8px;

}


.hero_button1{
    background: #6B2D8F;
    border: none;
      padding: 15px 30px;
}
.hero_button2{
    background: #C0FF33;
    border: none;
      padding: 15px 30px;
}
.hero_button3{
    background: #ffffff;
    border: none;
      padding: 15px 30px;
}
.hero_button :hover{
 background: black;
 color: white;
 }

 .section1{
    display: flex;
    
 }
 .item{
width: 50%;
margin-left: 20px;
margin-right: 50px;
margin-top: 30px;
 }
 .item h1{
    color: #6B2D8F;
    font-size: 32PX;
    font-weight: bold;
 }
 .item h4{
    color: #00BFA5;
    font-size: medium;
 }
 .item p{
    color: rgb(11, 11, 11);
    line-height: 1.6;
 }
.item button{
    background-color: yellowgreen;
    border: none;
    padding: 10px;
}
.item image{
    background-color: lightgray;
}